{{assign 'title' 'Organizations'}}

<div class="card">
  <div class="card-header">
    <div class="row ml-1">
      <a href="/organizations/edit/new" class="col-md-auto btn btn-primary" role="tooltip" data-toggle="tooltip" title="Create new organization"><i class="fe fe-plus-circle"></i> Create New</a>
      <div class="col-md-auto btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active" id="btnGridView" role="tooltip" data-toggle="tooltip" title="Grid view">
          <input type="radio" name="options" id="option1" autocomplete="off" checked><i class="fe fe-grid"></i>
        </label>
        <label class="btn btn-secondary" id="btnListView" role="tooltip" data-toggle="tooltip" title="List view">
          <input type="radio" name="options" id="option2" autocomplete="off"><i class="fe fe-list"></i>
        </label>
      </div>
      <button class="col-md-auto btn btn-secondary" role="tooltip" data-toggle="tooltip" title="Filter"><i class="fe fe-filter"></i></button>
      <div class="col-md-auto">
        <div class="input-group" role="tooltip" data-toggle="tooltip" title="Search">
          <div class="input-icon">
            <div class="input-icon-addon"> <i class="fe fe-search"></i> </div>
            <input type="search" class="form-control" id="search" name="search" placeholder="Search&hellip;" />
            {{!-- <button class="btn btn-secondary">Search</button> --}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body justify-content-center">
    <div class="row gridview" id="org-grid">
      {{> org-grid}}
    </div>
    <div class="row listview">
      {{> org-list}}
    </div>
  </div>
</div>
<input type="hidden" id="query" value="{{query}}">

{{#section 'script'}}
<script type="application/javascript">
  var editButton = function (cell, formatterParams, onRendered) { //plain text value
    // console.log(cell.value, cell.getValue());
    const editString = `/organizations/edit/${cell.getValue()}`;
    const deleteString = editString.replace('edit', 'delete'); //`/organization/delete/${cell.getValue()}`;
    return "<div class='btn-group'>" +
      "<a class='btn btn-sm btn-outline-secondary' id='btnEdit' href='" + editString + "'><i class='fe fe-edit-3'></i></a>" +
      "<a class='btn btn-sm btn-outline-danger' id='btnDelete' href='" + deleteString + "'><i class='fe fe-trash-2'></i></a>" +
      "</div>"
  };

  require(['jquery', 'tabulator-tables', 'handlebars'], function ($, Tabulator, Handlebars) {
    $(document).ready(function () {

      $("#btnGridView").click(function (event) {
        $(".listview").hide();
        $(".gridview").show();
      })
      $("#btnListView").click(function (event) {
        $(".listview").show();
        $(".gridview").hide();
      })

      var qry = $("#query").val();
      $.get('/organizations/list?open=' + qry, function (orgs) {
        //console.log(orgs);
        var template = document.getElementById('org-grid-template').innerHTML;
        var renderOrgs = Handlebars.compile(template);
        document.getElementById('org-grid').innerHTML = renderOrgs({
          orgs: orgs
        });

        var table = new Tabulator("#org-table", {
          placeholder: 'No Data Available',
          //height: "450px",
          //footerElement: "<div class='btn-group'><button class='btn btn-primary mr-2' id='btnAdd'><i class='fe fe-plus-circle'></i> Add</button></div>",
          //selectable: true,
          layout: "fitColumns",
          pagination: 'local',
          paginationSize: 10,
          paginationSizeSelector: [10, 25, 50, 100],
          autoResize: true,
          columns: [
            {
              title: "Code", field: "_id", width: 150, formatter: 'link', formatterParams: {
                labelField: "code",
                urlPrefix: "/organizations/select/",
                //target: "_blank",
              }
            },
            { title: "Name", field: "name" },
            { title: "Description", field: "description" },
            { title: 'Active', field: 'active', width: 100, formatter: 'tickCross', align: 'center' },
            { title: 'Actions', field: "_id", headerSort: false, width: 120, formatter: editButton, align: 'center' }
          ],
          index: "_id",
          //ajaxURL: '/organizations/list',
          data: orgs
        });

        var userIcons = $("canvas#avatar");
        if (userIcons.length > 0) {
          userIcons.each(function (index, value) {
            window.avatar.draw($(this)[0], true);
          })
        }

        $(".listview").show();
        $(".listview").hide();
      });
    });
  });
</script>
{{/section}}


<!--
      //$('.card').css("height", "500px");
      var originalWidth = 1000;
      function resize() {
        //This will only set this._originalHeight once
        this._originalHeight = this._originalHeight || $(this).height();
        //get the new body width
        var bodyWidth = $("body").width();
        //get the difference in width, needed for hight calculation
        var widthDiff = bodyWidth - originalWidth;
        //new hight based on initial div height
        var newHeight = this._originalHeight + (widthDiff / 10);
        //sets the different height for every needed div
        $(this).css("height", newHeight);
      }

      $(".card").each(resize);
      $(document).resize(function () {
        $(".card").each(resize);
      });

  -->
