<div class="row">
  <div class="col-md-12">
    <fieldset class="form-fieldset">
      {{!-- <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav"> --}}
      <div class="form-group">
        {{!-- <label class="form-label" for="exampleInputEmail2">Email address</label> --}}
        <input type="text" class="form-control" id="exampleInputEmail2" placeholder="Email address" required>
      </div>
      <div class="form-group mb-0">
        {{!-- <label class="form-label" for="exampleInputPassword2">Password</label> --}}
        <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Password" required>
      </div>
    </fieldset>

    <div class="mb-0">
      <button class="btn btn-sm btn-link" style="text-decoration-line: none"><i class="fe fe-plus"></i> Add
        Filter</button>
      <div class="float-right">
        <button class="btn btn-sm btn-secondary">Discard</button>
        <button class="btn btn-sm btn-primary">Apply filters</button>
      </div>
    </div>
    {{!-- </form> --}}
  </div>
</div>