<div class="col-12">
  <div class="table-border" style="height: 435px">
    <div id="org-table" style="height: 420px"></div>
  </div>
</div>
{{!-- <input type="hidden" id="orgId" name="orgId" value="{{currentOrg._id}}" /> --}}