<div class="col-12">
  <div class="table-border"> {{!-- style="height: 440px" --}}
    <div id="org-table"></div> {{!-- style="height: 425px" --}}
  </div>
</div>
{{!-- <input type="hidden" id="orgId" name="orgId" value="{{currentOrg._id}}" /> --}}
